*, *::after, *::before {
  box-sizing:border-box;  
}

a,
p,
h2,
h3,
li {
    font-family: var(--body-font), sans-serif;
}

main section section:first-of-type ul {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	list-style-type: none;
}

main section section:first-of-type ul li h1 {
  font-size: 125%;
}

main section section:first-of-type ul li h2 {
  font-size: 100% ;
  opacity: .6;
}

main section section:first-of-type ul li:nth-of-type(3) {
  margin-top: 4%;
  font-size: 90%;
}

main section section:nth-of-type(2) ul {
	display:flex;
  overflow: auto;
  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  overscroll-behavior-x:contain;
  gap:.5em;
  margin-top: 5%;
  list-style: none;
  scrollbar-width: none;
	scroll-marker-group: after;
}

main section section:nth-of-type(2) ul::scroll-marker-group {
    height: 3em;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    row-gap:.25em;
    column-gap:.5em;
    z-index: -1;
  }

main section section:nth-of-type(2) ul li {
	  display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis:100%;
    flex-shrink:0;
    scroll-snap-align:center;
    width: 100vw;
}

main section section:nth-of-type(2) ul li::scroll-marker {
    content: '' / 'naar' attr(data-label);
    width:.5em;
    aspect-ratio:1;
    background-color: var(--color-background-bolletje);
    border-radius:50%;
    transition:.25s;
    z-index: -1;
  }

main section section:nth-of-type(2) ul li::scroll-marker:target-current {
    background: var(--color-bolletje);
  }

  /* utopia fyi */
main section section:nth-of-type(2) ul li img {
    display: inline; 
    width: 100%;
    height: clamp(26.9531rem, -0.9844rem + 124.1667vw, 73.5156rem);;
    object-fit: cover;
    z-index: -1;
}

main section section:nth-of-type(3) {
	display: grid;
	grid-template-columns: 10% 1fr 1fr 10%;
	grid-template-rows: max-content 1fr;
	margin-top: 1em;
}

main section section:nth-of-type(3) h2 {
	grid-row: 1;
	grid-column: 2;
  font-size: 100%;
}

main section section:nth-of-type(3) a {
	grid-row: 1;
	grid-column: 3;
	display: flex;
  gap: .5em;
	align-items: center;
	justify-self: end;
  font-size: 90%;
}

main section section:nth-of-type(3) a:hover{
  text-decoration: underline;
}

main section section:nth-of-type(3) ul {
	display: grid;
	gap: .4rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr	1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
	grid-row: 2;
	grid-column: 2/4;
	list-style-type: none;
	padding: 0;
	margin-top: 1em ;
}

main section section:nth-of-type(3) ul li {
	border: 1px solid;
  border-color: var(--color-divider);
	border-radius: .2em;
	padding: 1rem 0rem;
	width: max-content;
	text-align: center;
	box-sizing: border-box;
	width: auto;
  cursor: pointer;
}

main section section:nth-of-type(3) ul li:hover{
  border-color: var(--color-text);
  border: solid 2px;
}

@media (min-width: 22.875em) {
  main section section:nth-of-type(3) ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr	1fr 1fr 1fr 1fr 1fr 1fr ;
  }
}

@media (min-width: 29.125em) {
  main section section:nth-of-type(3) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr	1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 35.375em) {
  main section section:nth-of-type(3) ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr	1fr 1fr 1fr;
  }
}


main section section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  gap: 1em;
}

main section section:nth-of-type(4) h2 {
  font-size: 100%;
  text-align: center;
}

main section section:nth-of-type(4) h2 span {
  font-family: var(--bold-font);
}

main section section:nth-of-type(4) button {
  font-size: 100%;
  font-family: var(--bold-font);
}

main section section:nth-of-type(4) button:nth-of-type(1) {
  background-color: var(--color-background);
  border-radius: 3em;
  width: 100%;
  color: var(--color-text);
  padding: 1.5em 4em;
}

main section section:nth-of-type(4) button:nth-of-type(1):hover{
  color: var(--color-inverted);
  background-color: var(--color-background-inverted);
}

main section section:nth-of-type(4) button:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: var(--color-background);
  border: solid 2px var(--color-button);
  border-radius: 3em;
  width: 100%;
  padding: 1.5em 4em;
}

main section section:nth-of-type(4) button:nth-of-type(2):hover{
  color: var(--color-inverted);
  background-color: var(--color-background-inverted);
}

main section section:nth-of-type(5) {
  margin-top: 20%;
  margin-left: 5%;
}

main section section:nth-of-type(5) ul:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: .5em;
  margin-bottom: 20%;
}

main section section:nth-of-type(5) ul:nth-of-type(1) li:nth-of-type(1) {
  font-family: var(--bold-font);
}

main section:nth-of-type(5) ul:nth-of-type(1) li:nth-of-type(2) {
  text-decoration: underline;
  text-underline-offset: .5em;
  margin-bottom: 1em;
}

main section section:nth-of-type(5) ul:nth-of-type(1) li:nth-of-type(3) {
  opacity: .6;
  font-size: 90%;
}

main section section:nth-of-type(5) ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}

main section section:nth-of-type(5) ul:nth-of-type(2) li:first-of-type {
  list-style-type: none;
  margin-bottom: 2em;
}

main section section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(2) {
  margin-bottom: 5%;
}

main section section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(2),
main section section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(3) {
  margin-left: 5%;
  
}

main section section:nth-of-type(6) {
  margin-left: 5%;
  margin-top: 10%;
}

main section section:nth-of-type(6) h2 {
  text-decoration: underline;
  text-underline-offset: .2em;
  margin-bottom: 1em;
  font-size: 100%;
}

main section section:nth-of-type(6) ul {
  list-style-type: none;
}

main section section:nth-of-type(6) ul li details  {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  border-bottom: var(--color-divider);
}

main section section:nth-of-type(6) ul li:nth-of-type(2) details  {
  padding-top: 1.5em;
}

main section section:nth-of-type(6) ul li details summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  font-size: 120%;
}

main section section:nth-of-type(6) ul li details ul {
  margin-top: 2rem;
}

main section section:nth-of-type(6) ul li:nth-of-type(2) details ul li:first-of-type button,
main section section:nth-of-type(6) ul li:nth-of-type(2) details ul li:nth-of-type(2) button,
main section section:nth-of-type(6) ul li:nth-of-type(2) details ul li:last-of-type button {
  border: none;
  background: none;
  text-decoration: underline;
  text-underline-offset: .2em ;
  cursor: pointer;
}

main section section:nth-of-type(6) ul li:nth-of-type(2) details ul li:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin: 2em 0 2em;
  gap: 1em;
}

main section section:nth-of-type(6) ul li:nth-of-type(2) details ul li:nth-of-type(2) button {
  text-align: left;
}

@media (min-width: 60em) {
  main > section:first-of-type {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: max-content max-content max-content max-content max-content;
  }

  main section section:first-of-type {
    grid-row: 1;
    grid-column: 3;
    height: max-content;
  }

  main section section:nth-of-type(2) {
    max-width: 50vw;
    grid-row: 1;
    grid-column: 2;
  }

  
main section section:nth-of-type(2) ul {
	display:flex;
  overflow: auto;
  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  overscroll-behavior-x:contain;
  gap:.5em;
  margin-top: 5%;
  list-style: none;
  scrollbar-width: none;
	scroll-marker-group: after;
}

main section section:nth-of-type(2) ul li {
	  display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis:100%;
    flex-shrink:0;
    scroll-snap-align:center;
    width: max-content;
}

  main section section:nth-of-type(2) ul li img {
    height: clamp(22.2938rem, -4.1139rem + 44.0127vw, 41.7969rem);
    max-width: max-content;
  }

  main section section:nth-of-type(3) {
    grid-row: 2;
    grid-column: 3;
  }

  main section section:nth-of-type(4) {
    grid-row: 3;
    grid-column: 3;
  }

  main section section:nth-of-type(5) {
    grid-row: 4;
    grid-column: 3;
  }

  main section section:nth-of-type(6) {
    grid-row: 5;
    grid-column: 3;
  }
}

main > section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  margin-left: 5%;
  gap: 1em;
}



main > section:nth-of-type(2) button {
  border: solid 1px;
  border-color: var(--color-divider);
  border-radius: 2em;
  background: var(--color-inverted);
  color: var(--color-text);
  width: max-content;
  padding: .5em 1.5em;
  text-align: center;
  font-size: 100%;
  font-family: var(--body-font);
}

main > section:nth-of-type(2) button:hover{
  color: var(--color-inverted);
  background-color: var(--color-background-inverted);
}

main > section:nth-of-type(3) {
  margin: 10% 0 20% 10%;
  
}

main > section:nth-of-type(3) ul {
  display:flex;
  overflow:auto;
  scroll-snap-type:x mandatory;
  scroll-behavior:smooth;
  overscroll-behavior-x:contain;
  gap: 1em;
  scrollbar-width:thin;
  scrollbar-color:var(--color-inverted);
  list-style-type: none;
}
main > section:nth-of-type(3) ul li {
  flex-basis:100%;
  flex-shrink:0;
  scroll-snap-align:center;
  max-width: 70%;
}

main > section:nth-of-type(3) ul li a {
  display: flex;
  flex-direction: column;
  max-width: max-content;
}

main > section:nth-of-type(3) ul li a h3 {
  font-size: 90%;
}

main > section:nth-of-type(3) ul li a p:first-of-type {
  margin-bottom: .5em;
  opacity: .6;
  font-size: 90%;
}

main > section:nth-of-type(3) ul li a p:nth-of-type(2) {
  font-size: 90%;
}


/* utopia fyi */
main > section:nth-of-type(3) ul li a img {
  display: inline; 
  width: 100%;    
  height: clamp(12.6419rem, -4.1667rem + 74.705vw, 40.6563rem);
  object-fit: cover;
  z-index: -1;
  order: -1;
}


@media (min-width: 60em){
  main > section:nth-of-type(3) ul li {
    max-width: max-content;
  }

  /* utopia fyi */
  main > section:nth-of-type(3) ul li a img {
    height: clamp(16.4063rem, -3.4025rem + 32.9802vw, 31rem);
  }
}

