@font-face {
    font-family: "HelveticaNowDisplay";
    src: url("/fonts/HelveticaNowDisplayMedium.woff2");
}

@font-face {
    font-family: "HelveticaNowText";
    src: url("/fonts/HelveticaNowText.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "HelveticaNowTextMedium";
    src: url("/fonts/HelveticaNowTextMedium.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Futura300";
    src: url("/fonts/Nike-Futura-ot-300.woff2");
}

@font-face {
    font-family: "Futura";
    src: url("/fonts/Nike-Futura.woff2");
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeue.ttf");
}



/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* Kleuren */
    color-scheme: light dark;
    --color-text: light-dark(#000, #fff);
    --color-inverted: light-dark(#fff,#000);
    --color-always-white: #fff;
    --color-always-black: #000;
    --color-background: light-dark(#fff, #000);
    --color-background-inverted: light-dark(#000, #fff);
    --color-bolletje: light-dark(#000, rgb(229, 240, 79));
    --color-background-bolletje: light-dark(grey, #fff);
    --color-divider: light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6));
    --color-button: light-dark(rgb(122, 122, 124), rgb(122, 122, 124));
    --color-button-hover: light-dark(rgb(179, 179, 179),#ffffff52);    

    /* Fonts */
    --nike-font: "Futura300";
    --body-font: "HelveticaNowText";
    --bold-font: "HelveticaNowTextMedium";
    --thin-font: "HelveticaNeue";

}







/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    top: 0;
    padding: 0;
    width: 100%;
    height: max-content;
    background-color: var(--color-background);

}

header>a {
    align-items: center;
    margin-left: 1%;
    padding: .4em;
}

header>a svg {
    width: 4.5rem;
    height: max-content;
    padding: .4em;
}

header>menu {
    display: flex;
    list-style-type: none;
    gap: 1em;
    margin-right: 3%;
    align-items: center;
}

header menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: .4em;
}

header menu li svg:hover {
    background-color: var(--color-button-hover);
    border-radius: 100%;
}

header nav ul li>button {
    background: none;
    border: none;
    cursor: pointer;
}

header nav {
    position: fixed;
    inset: 0;
    translate: 100%;
}

header nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: var(--color-background);
}

header nav.is-open ul {
    translate: -100%;
    width: 20em;
    height: 100%;
    gap: 1em;
}

header nav ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
}

header nav ul li:first-of-type {
    justify-content: flex-end;
    margin-top: 5%;
    margin-bottom: 10%;
}

header nav ul li:first-of-type button {
    margin-right: 10%;
}

header nav ul li:first-of-type button:hover {
    background-color: var(--color-button-hover);
    border-radius: 100%;
} 

header nav ul li:not(:first-of-type) a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 150%;
}

@media (min-width: 75em) {

    header {
        justify-content: space-between;
        align-items: center;
    }

    header>a {
        order: 1;
    }

    header menu {
        order: 3;
    }

    header menu li:last-of-type {
        display: none;
    }

    header menu li:first-of-type form {
        position: relative;
        display: inline-block
    }

    header menu li:first-of-type form input[type="search"] {
        padding: .4em 1em .4em 3em;
        border: 1px solid;
        width: 12em;
        border-color: var(--color-divider);
        border-radius: 9em;
        font-family: var(--body-font);
    }

    header menu li:first-of-type form svg {
        position: absolute;
        left: .7em;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: var(--color-text);
    }

    header nav {
        position: static;
        order: 2;
        translate: 0;
        justify-content: center;
    }

    header nav ul {
        flex-direction: row;
        gap: 1.5em;
    }

    header nav ul li:not(:first-of-type) a {
        font-size: 100%;
    }

    header nav button {
        display: none;
    }

    

    header nav svg {
        display: none;
    }

}

/* nav ul li:first-of-type {
    margin-right: auto;

}

nav:first-of-type ul li:first-of-type svg {
    height: 4.5em;
    width: auto;
}

header nav ul li button svg {
    color: light-dark(var(--color-background-black), var(--color-background));
}

header nav:first-of-type ul li a svg {
    color: light-dark(var(--color-background-black), var(--color-background));
}


nav.is-open {
    translate: 0;
    width: 20rem;
    padding: 0;
}

nav:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: flex-start;
    padding: 0;
    list-style: none;
    width: 100%;
}

nav:nth-of-type(2) ul li {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}


nav:nth-of-type(2) ul li:first-child>button {
    position: absolute;
    top: 1rem;
    right: 3%;
    padding: 0;
}

nav:nth-of-type(2) ul li:nth-of-type(2)>a,
nav:nth-of-type(2) ul li:nth-of-type(3)>a,
nav:nth-of-type(2) ul li:nth-of-type(4)>a,
nav:nth-of-type(2) ul li:nth-of-type(5)>a,
nav:nth-of-type(2) ul li:nth-of-type(6)>a,
nav:nth-of-type(2) ul li:nth-of-type(7)>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-left: 10%;
    margin-right: 3%;
    font-size: 150%;
}

nav:nth-of-type(2) ul li:nth-of-type(8) {
    margin-top: 3rem;
}

nav:nth-of-type(2) ul li:nth-of-type(8) a,
nav:nth-of-type(2) ul li:nth-of-type(9) a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 0;
    margin-left: 10%;
    margin-right: 3%;
    font-family: var(--bold-font);
}

nav:nth-of-type(2) ul li:nth-of-type(10) {
    padding: 0;
    margin-left: 10%;
    margin-right: 3%;
    width: auto;
    margin-top: 3rem;
    font-size: 130%;

}

nav:nth-of-type(2) ul li:nth-of-type(10) p span {
    opacity: 60%;
}

nav:nth-of-type(2) ul li:nth-of-type(10) p a {
    font-family: var(--bold-font);
}

nav:nth-of-type(2) ul li:nth-of-type(11) {
    display: flex;
    padding: 0;
    margin-left: 10%;
    margin-right: 3%;
    gap: .5em;
}

nav:nth-of-type(2) ul li:nth-of-type(11) a:first-of-type {
    background-color: light-dark(var(--color-background), var(--color-background-black));
    border: hidden;
    border-radius: 5em;
    color: var(--color-text-white);
    padding: .5rem 1rem;
}

nav:nth-of-type(2) ul li:nth-of-type(11) a:nth-of-type(2) {
    background-color: light-dark(var(--color-background), var(--color-background-black));
    border: solid 1px var(--color-background-bolletje);
    border-radius: 5em;
    padding: .5rem 1rem;
}

nav:nth-of-type(2) ul li:nth-of-type(12) {
    margin-top: 3rem;
}

nav:nth-of-type(2) ul li:nth-of-type(12)>a,
nav:nth-of-type(2) ul li:nth-of-type(13)>a,
nav:nth-of-type(2) ul li:nth-of-type(14)>a,
nav:nth-of-type(2) ul li:nth-of-type(15)>a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    padding: 0;
    margin-left: 10%;
    margin-right: 3%;
} */



body {
    max-width: 100%;

}

body a {
    text-decoration: none;
    color: inherit;
}

footer section:first-of-type ul li details summary {
    border-top: solid 1px;
    border-color: var(--color-divider);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.5rem 0rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

footer section:first-of-type>ul li details summary h2 {
    font-size: 90%;
}

footer section:first-of-type ul li:first-of-type details summary {
    padding-top: 3rem;
}

footer section:first-of-type ul li details summary::marker {
    content: "";

}

footer section:first-of-type>ul li details ul {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    list-style: none;
    gap: 1rem;
    padding-bottom: 3rem;
}

footer section:first-of-type>ul li details ul li a {
    font-family: var(--bold-font);
    font-size: 90%;
    opacity: 60%;
}

footer section:first-of-type>ul li details ul li a:hover{
    color: var(--color-text);
    opacity: 1;
    text-decoration: underline;
}

footer section:first-of-type>ul>li:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    opacity: .6;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: var(--color-divider);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 1.5em 0rem 1.5em;
    list-style-type: none;
    font-size: 90%;
    font-family: var(--bold-font);
}

footer section:nth-of-type(2)>ul {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 6rem;
    list-style: none;
    gap: 1rem;
    color: var(--color-divider);

}

footer section:nth-of-type(2)>ul li details ul {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}

footer>section:nth-of-type(2)>ul>li:not(:nth-of-type(2)) {
    list-style: none;
    font-family: var(--bold-font);
    font-size: 90%;
    color: var(--color-text);
    opacity: 0.6;
}

footer section:nth-of-type(2)>ul li a {
    list-style: none;
    font-family: var(--bold-font);
    font-size: 100%;
}

footer section:nth-of-type(2) ul li details ul li a {
    font-family: var(--bold-font);
    color: var(--color-text);
    opacity: 0.6;
}

footer section:nth-of-type(2) ul li details ul li a:hover {
    color: var(--color-text);
    opacity: 1;
    text-decoration: underline;
}

footer section:nth-of-type(2) ul li details summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text);
}

footer section:nth-of-type(2) ul li details summary h2 {
    font-size: 100%;
    font-family: var(--bold-font);
    opacity: .6;
}

footer section:nth-of-type(2) ul li details summary svg {
    width: 1.2rem;

}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media(min-width: 60em) {

    footer section:first-of-type {
        margin-left: 2%;
    }

    footer section:first-of-type ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        margin: unset;
    }

    footer section:first-of-type ul li {
        align-items: center;
        margin: unset;
        padding: unset;
    }

    footer section:first-of-type ul li:first-of-type details summary {
        padding: 0;
    }

    footer section:first-of-type ul li details summary {
        display: flex;
        justify-content: flex-start;
        visibility: visible;
        align-items: center;
        padding: 0;
        border: none;
        pointer-events: none;
        margin-bottom: 3em;
    }

    footer section:first-of-type ul li details ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    footer section:first-of-type ul li details summary svg{
        display: none;
    }

    footer section:first-of-type ul > li:last-of-type{
        border: none;
        align-self: flex-start;
        padding: 0;
    }

    footer section:nth-of-type(2) {
        margin-left: 2%;
    }

    footer section:nth-of-type(2) ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}