/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

header {
	margin: 0;
	padding: 0;
	justify-content: center;
	width: 100%;
}

nav {
    background-color: rgb(101, 101, 116);	
	width: 100%;
	margin: 0;
	padding: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
	align-items: center;
    gap: 1em;
	margin: 0;
    padding: 0 2em 0 1em;
	
}

nav ul li:first-of-type {
    margin-right: auto;
	
}

nav ul li:first-of-type img {
	height: 5em;
	
}

body {
	max-width: 100%;

}

body a {
	text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}